//- include ../mixins/sub-menu.pug

header.header 
    .container  
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src= "/images/Logo.vku.webp", alt="Logo"  )  
            .col-5
                .box-search
                    form(
                        action="/search/result"
                        method="GET"
                    )
                        div(class="form-group d-flex mb-0")
                            input(
                                type="text"
                                placeholder="Nhập từ khóa..."
                                class="form-control"
                                name="keyword"
                                value = keyword
                            )
                            button(
                                type="submit"
                                class="btn btn-primary"
                            ) Tìm
                    .inner-suggest
                        .inner-list
                            
            .col-4 
                .inner-menu 
                    ul 
                        li 
                            a(href="/") <i class="fa-solid fa-house"></i> Trang chủ
                        li
                            a(href="/tours") <i class="fa-solid fa-torii-gate"></i> Danh mục
                        li
                            a(href="/cart") <i class="fa-solid fa-cart-shopping"></i> Giỏ hàng (<span mini-cart>0</span>)
                        