.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Tổng quan 
            li 
                a(href=`${prefixAdmin}/categories`) Quản lý c danh mục
            li 
                a(href=`${prefixAdmin}/tours`) Quản lý tour
            li 
                a(href=`${prefixAdmin}/roles/permissions`) phân quyền
            li 
                a(href=`${prefixAdmin}/accounts`) tài khoản admin
            li 
                a(href=`${prefixAdmin}/users`) tài khoản user
            li 
                a(href=`${prefixAdmin}/settings/general`) Cài đặt chung